.bottomNavigation {
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.loadingDialog {
    height: 500px;
}

#content {
    width: 95%;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#tabMenu {
    display: flex;
    width: 100%;
    background: white;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#menuBar {
    width: 100%;
}
